<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.compete.ppj.compete_test" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"   />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/compete_logo2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Logo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".mainMenu.MainMenu_old"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".mainMenu.MainMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Race.Run"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".raceMenu.RaceMenu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Rankings.Rankings"
            android:label="@string/app_name" >
        </activity>


    </application>

</manifest>
